In [1]:
import pandas as pd
import config
import numpy as np
import requests
import json

In [2]:
#Setting up URL 
base_url = 'https://api.stlouisfed.org/fred/series/observations?series_id='

# List of FRED series IDs and their description
general_dict = {
    "CUURA318SAH": "CUURA318", 
    "CUURA319SAH": "CUURA319", 
    "CUURA320SAH": "CUURA320",
    
    "CUURA421SAH": "CUURA421", 
    "CUURA422SAH": "CUURA422", 
    "CUURA423SAH": "CUURA423", 

    "CUURA101SAH": "CUURA101", 
    "CUURA102SAH": "CUURA102",
    "CUURA103SAH": "CUURA103"

}

#Data Period
start_date = '2009-04-01'
end_date = '2012-04-01'
frequency = 'm'
ftype = '&file_type=json'

s_dates = '&observation_start={}'.format(start_date)
e_dates = '&observation_end={}'.format(end_date)
api_key = '&api_key={}'.format(config.api_key)
freq = '&frequency={}'.format(frequency)

In [4]:
#Making Request 
''' 
Start date: 2009/04/01 - 2012/04/01
'''
housing_df = pd.DataFrame()
for key, name in general_dict.items():
    url = '{}{}{}{}{}{}{}'.format(base_url, key, s_dates,e_dates, api_key, ftype,freq)
    response = requests.get(url).json()['observations']
    housing_df[name] = [i['value'] for i in response]
    housing_df.index = pd.to_datetime([i['date'] for i in response])

#Convert datatype into float  
housing_df_cols = housing_df.columns[housing_df.dtypes.eq(object)]
for col_name in housing_df_cols:
    housing_df[col_name] = pd.to_numeric(housing_df[col_name], errors='coerce')
    
housing_df

,CUURA318,CUURA319,CUURA320,CUURA421,CUURA422,CUURA423,CUURA101,CUURA102,CUURA103
2009-04-01,184.743,199.559,229.421,244.560,246.940,242.057,257.062,231.107,NaN
2009-05-01,NaN,NaN,NaN,245.426,NaN,NaN,256.573,NaN,232.656
2009-06-01,185.162,204.003,227.356,245.006,247.586,241.160,257.537,233.142,NaN
2009-07-01,NaN,NaN,NaN,245.171,NaN,NaN,258.912,NaN,232.928
2009-08-01,182.806,203.254,226.100,244.541,247.230,240.802,258.755,235.599,NaN
2009-09-01,NaN,NaN,NaN,244.113,NaN,NaN,256.970,NaN,234.272
2009-10-01,182.730,198.274,226.109,244.281,246.089,237.941,256.273,233.017,NaN
2009-11-01,NaN,NaN,NaN,243.505,NaN,NaN,256.464,NaN,233.604
2009-12-01,181.663,197.276,225.782,242.411,243.651,237.094,256.523,233.022,NaN
2010-01-01,NaN,NaN,NaN,242.594,NaN,NaN,257.261,NaN,233.689
2010-02-01,182.790,198.794,223.555,242.913,244.436,235.762,257.077,234.104,NaN
2010-03-01,NaN,NaN,NaN,242.828,NaN,NaN,257.820,NaN,233.943
2010-04-01,182.812,199.265,223.463,242.591,245.075,233.959,257.869,233.890,NaN
2010-05-01,NaN,NaN,NaN,243.458,NaN,NaN,258.555,NaN,231.287
2010-06-01,184.344,203.053,223.926,243.070,244.696,233.588,259.514,235.898,NaN
2010-07-01,NaN,NaN,NaN,243.316,NaN,NaN,260.421,NaN,230.024
2010-08-01,184.241,201.329,223.803,243.738,246.233,235.446,259.997,236.123,NaN
2010-09-01,NaN,NaN,NaN,243.549,NaN,NaN,258.871,NaN,230.287
2010-10-01,182.964,197.501,224.114,244.133,246.471,234.290,258.468,234.572,NaN
2010-11-01,NaN,NaN,NaN,243.399,NaN,NaN,258.216,NaN,232.111
2010-12-01,181.707,196.452,225.612,243.431,244.370,233.980,258.702,233.839,NaN
2011-01-01,NaN,NaN,NaN,244.399,NaN,NaN,259.081,NaN,233.247
2011-02-01,181.941,197.982,225.850,244.419,245.465,236.000,259.198,235.545,NaN
2011-03-01,NaN,NaN,NaN,244.709,NaN,NaN,259.985,NaN,235.395
2011-04-01,182.986,197.993,226.011,245.174,247.599,235.015,260.194,236.249,NaN
2011-05-01,NaN,NaN,NaN,245.582,NaN,NaN,261.585,NaN,234.129
2011-06-01,183.795,203.024,225.134,244.790,249.137,236.482,263.038,238.751,NaN
2011-07-01,NaN,NaN,NaN,245.077,NaN,NaN,264.345,NaN,235.145
2011-08-01,184.422,202.774,225.280,245.238,250.455,238.685,264.070,240.734,NaN
2011-09-01,NaN,NaN,NaN,245.076,NaN,NaN,263.675,NaN,236.441
2011-10-01,184.450,198.172,225.798,245.737,251.655,240.729,262.854,238.917,NaN
2011-11-01,NaN,NaN,NaN,245.271,NaN,NaN,262.528,NaN,238.072
2011-12-01,184.725,199.264,226.648,245.641,251.302,240.622,261.610,239.844,NaN
2012-01-01,NaN,NaN,NaN,246.531,NaN,NaN,262.677,NaN,238.378
2012-02-01,185.781,200.751,228.016,246.787,253.851,241.923,262.504,240.490,NaN
2012-03-01,NaN,NaN,NaN,247.775,NaN,NaN,263.648,NaN,239.011
2012-04-01,186.747,200.694,227.762,248.082,254.484,242.726,263.310,241.358,NaN