# API request to obtain Housing CPI data

In [1]:
import pandas as pd
import config
import numpy as np
import requests
import json

In [2]:
#Setting up URL 
base_url = 'https://api.stlouisfed.org/fred/series/observations?series_id='

# List of FRED series IDs and their description
general_dict = {
    "CUURA318SAH": "CUURA318", 
    "CUURA319SAH": "CUURA319", 
    "CUURA320SAH": "CUURA320",
    
    "CUURA421SAH": "CUURA421", 
    "CUURA422SAH": "CUURA422", 
    "CUURA423SAH": "CUURA423", 

    "CUURA101SAH": "CUURA101", 
    "CUURA102SAH": "CUURA102",
    "CUURA103SAH": "CUURA103"

}

#Data Period
start_date = '2009-04-01'
end_date = '2012-04-01'
frequency = 'm'
ftype = '&file_type=json'

s_dates = '&observation_start={}'.format(start_date)
e_dates = '&observation_end={}'.format(end_date)
api_key = '&api_key={}'.format(config.api_key)
freq = '&frequency={}'.format(frequency)

In [3]:
#Making Request 
''' 
Start date: 2009/04/01 - 2012/04/01
'''
housing_df = pd.DataFrame()
for key, name in general_dict.items():
    url = '{}{}{}{}{}{}{}'.format(base_url, key, s_dates,e_dates, api_key, ftype,freq)
    response = requests.get(url).json()['observations']
    housing_df[name] = [i['value'] for i in response]
    housing_df.index = pd.to_datetime([i['date'] for i in response])

#Convert datatype into float  
housing_df_cols = housing_df.columns[housing_df.dtypes.eq(object)]
for col_name in housing_df_cols:
    housing_df[col_name] = pd.to_numeric(housing_df[col_name], errors='coerce')
    
housing_df

,CUURA318,CUURA319,CUURA320,CUURA421,CUURA422,CUURA423,CUURA101,CUURA102,CUURA103
2009-04-01,184.743,199.559,229.421,244.560,246.940,242.057,257.062,231.107,NaN
2009-05-01,NaN,NaN,NaN,245.426,NaN,NaN,256.573,NaN,232.656
2009-06-01,185.162,204.003,227.356,245.006,247.586,241.160,257.537,233.142,NaN
2009-07-01,NaN,NaN,NaN,245.171,NaN,NaN,258.912,NaN,232.928
2009-08-01,182.806,203.254,226.100,244.541,247.230,240.802,258.755,235.599,NaN
2009-09-01,NaN,NaN,NaN,244.113,NaN,NaN,256.970,NaN,234.272
2009-10-01,182.730,198.274,226.109,244.281,246.089,237.941,256.273,233.017,NaN
2009-11-01,NaN,NaN,NaN,243.505,NaN,NaN,256.464,NaN,233.604
2009-12-01,181.663,197.276,225.782,242.411,243.651,237.094,256.523,233.022,NaN
2010-01-01,NaN,NaN,NaN,242.594,NaN,NaN,257.261,NaN,233.689
2010-02-01,182.790,198.794,223.555,242.913,244.436,235.762,257.077,234.104,NaN
2010-03-01,NaN,NaN,NaN,242.828,NaN,NaN,257.820,NaN,233.943
2010-04-01,182.812,199.265,223.463,242.591,245.075,233.959,257.869,233.890,NaN
2010-05-01,NaN,NaN,NaN,243.458,NaN,NaN,258.555,NaN,231.287
2010-06-01,184.344,203.053,223.926,243.070,244.696,233.588,259.514,235.898,NaN
2010-07-01,NaN,NaN,NaN,243.316,NaN,NaN,260.421,NaN,230.024
2010-08-01,184.241,201.329,223.803,243.738,246.233,235.446,259.997,236.123,NaN
2010-09-01,NaN,NaN,NaN,243.549,NaN,NaN,258.871,NaN,230.287
2010-10-01,182.964,197.501,224.114,244.133,246.471,234.290,258.468,234.572,NaN
2010-11-01,NaN,NaN,NaN,243.399,NaN,NaN,258.216,NaN,232.111
2010-12-01,181.707,196.452,225.612,243.431,244.370,233.980,258.702,233.839,NaN
2011-01-01,NaN,NaN,NaN,244.399,NaN,NaN,259.081,NaN,233.247
2011-02-01,181.941,197.982,225.850,244.419,245.465,236.000,259.198,235.545,NaN
2011-03-01,NaN,NaN,NaN,244.709,NaN,NaN,259.985,NaN,235.395
2011-04-01,182.986,197.993,226.011,245.174,247.599,235.015,260.194,236.249,NaN
2011-05-01,NaN,NaN,NaN,245.582,NaN,NaN,261.585,NaN,234.129
2011-06-01,183.795,203.024,225.134,244.790,249.137,236.482,263.038,238.751,NaN
2011-07-01,NaN,NaN,NaN,245.077,NaN,NaN,264.345,NaN,235.145
2011-08-01,184.422,202.774,225.280,245.238,250.455,238.685,264.070,240.734,NaN
2011-09-01,NaN,NaN,NaN,245.076,NaN,NaN,263.675,NaN,236.441
2011-10-01,184.450,198.172,225.798,245.737,251.655,240.729,262.854,238.917,NaN
2011-11-01,NaN,NaN,NaN,245.271,NaN,NaN,262.528,NaN,238.072
2011-12-01,184.725,199.264,226.648,245.641,251.302,240.622,261.610,239.844,NaN
2012-01-01,NaN,NaN,NaN,246.531,NaN,NaN,262.677,NaN,238.378
2012-02-01,185.781,200.751,228.016,246.787,253.851,241.923,262.504,240.490,NaN
2012-03-01,NaN,NaN,NaN,247.775,NaN,NaN,263.648,NaN,239.011
2012-04-01,186.747,200.694,227.762,248.082,254.484,242.726,263.310,241.358,NaN

# Load into MYSQL

In [4]:
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine
# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [5]:
# Create Engine and Pass in MySQL Connection                
MySQL_root_PW = config.password
MySQL_db = 'ETL'
engine = create_engine("mysql://root:"+MySQL_root_PW+"@localhost/"+MySQL_db)

In [6]:
housing_df.to_sql("Housing", 
                  con = engine, 
                  index = True, 
                  if_exists='replace')

In [7]:
#test by reading Housing data from mysql
pd.read_sql("Housing", engine)

,index,CUURA318,CUURA319,CUURA320,CUURA421,CUURA422,CUURA423,CUURA101,CUURA102,CUURA103
0,2009-04-01,184.743,199.559,229.421,244.560,246.940,242.057,257.062,231.107,NaN
1,2009-05-01,NaN,NaN,NaN,245.426,NaN,NaN,256.573,NaN,232.656
2,2009-06-01,185.162,204.003,227.356,245.006,247.586,241.160,257.537,233.142,NaN
3,2009-07-01,NaN,NaN,NaN,245.171,NaN,NaN,258.912,NaN,232.928
4,2009-08-01,182.806,203.254,226.100,244.541,247.230,240.802,258.755,235.599,NaN
5,2009-09-01,NaN,NaN,NaN,244.113,NaN,NaN,256.970,NaN,234.272
6,2009-10-01,182.730,198.274,226.109,244.281,246.089,237.941,256.273,233.017,NaN
7,2009-11-01,NaN,NaN,NaN,243.505,NaN,NaN,256.464,NaN,233.604
8,2009-12-01,181.663,197.276,225.782,242.411,243.651,237.094,256.523,233.022,NaN
9,2010-01-01,NaN,NaN,NaN,242.594,NaN,NaN,257.261,NaN,233.689
10,2010-02-01,182.790,198.794,223.555,242.913,244.436,235.762,257.077,234.104,NaN
11,2010-03-01,NaN,NaN,NaN,242.828,NaN,NaN,257.820,NaN,233.943
12,2010-04-01,182.812,199.265,223.463,242.591,245.075,233.959,257.869,233.890,NaN
13,2010-05-01,NaN,NaN,NaN,243.458,NaN,NaN,258.555,NaN,231.287
14,2010-06-01,184.344,203.053,223.926,243.070,244.696,233.588,259.514,235.898,NaN
15,2010-07-01,NaN,NaN,NaN,243.316,NaN,NaN,260.421,NaN,230.024
16,2010-08-01,184.241,201.329,223.803,243.738,246.233,235.446,259.997,236.123,NaN
17,2010-09-01,NaN,NaN,NaN,243.549,NaN,NaN,258.871,NaN,230.287
18,2010-10-01,182.964,197.501,224.114,244.133,246.471,234.290,258.468,234.572,NaN
19,2010-11-01,NaN,NaN,NaN,243.399,NaN,NaN,258.216,NaN,232.111
20,2010-12-01,181.707,196.452,225.612,243.431,244.370,233.980,258.702,233.839,NaN
21,2011-01-01,NaN,NaN,NaN,244.399,NaN,NaN,259.081,NaN,233.247
22,2011-02-01,181.941,197.982,225.850,244.419,245.465,236.000,259.198,235.545,NaN
23,2011-03-01,NaN,NaN,NaN,244.709,NaN,NaN,259.985,NaN,235.395
24,2011-04-01,182.986,197.993,226.011,245.174,247.599,235.015,260.194,236.249,NaN
25,2011-05-01,NaN,NaN,NaN,245.582,NaN,NaN,261.585,NaN,234.129
26,2011-06-01,183.795,203.024,225.134,244.790,249.137,236.482,263.038,238.751,NaN
27,2011-07-01,NaN,NaN,NaN,245.077,NaN,NaN,264.345,NaN,235.145
28,2011-08-01,184.422,202.774,225.280,245.238,250.455,238.685,264.070,240.734,NaN
29,2011-09-01,NaN,NaN,NaN,245.076,NaN,NaN,263.675,NaN,236.441
30,2011-10-01,184.450,198.172,225.798,245.737,251.655,240.729,262.854,238.917,NaN
31,2011-11-01,NaN,NaN,NaN,245.271,NaN,NaN,262.528,NaN,238.072
32,2011-12-01,184.725,199.264,226.648,245.641,251.302,240.622,261.610,239.844,NaN
33,2012-01-01,NaN,NaN,NaN,246.531,NaN,NaN,262.677,NaN,238.378
34,2012-02-01,185.781,200.751,228.016,246.787,253.851,241.923,262.504,240.490,NaN
35,2012-03-01,NaN,NaN,NaN,247.775,NaN,NaN,263.648,NaN,239.011
36,2012-04-01,186.747,200.694,227.762,248.082,254.484,242.726,263.310,241.358,NaN

In [21]:
out = housing_df.to_json(orient='records')[1:-1].replace('},{', '} {')
with open('json_string.txt', 'w') as f:
    f.write(out)

In [45]:
#Testing 
results = engine.execute("Select * FROM Housing;").fetchall()

result_list = []
for result in results:
    result_list.append(dict(result))

In [46]:
result_list

[{'index': datetime.datetime(2009, 4, 1, 0, 0),
  'CUURA318': 184.743,
  'CUURA319': 199.559,
  'CUURA320': 229.421,
  'CUURA421': 244.56,
  'CUURA422': 246.94,
  'CUURA423': 242.057,
  'CUURA101': 257.062,
  'CUURA102': 231.107,
  'CUURA103': None},
 {'index': datetime.datetime(2009, 5, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 245.426,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 256.573,
  'CUURA102': None,
  'CUURA103': 232.656},
 {'index': datetime.datetime(2009, 6, 1, 0, 0),
  'CUURA318': 185.162,
  'CUURA319': 204.003,
  'CUURA320': 227.356,
  'CUURA421': 245.006,
  'CUURA422': 247.586,
  'CUURA423': 241.16,
  'CUURA101': 257.537,
  'CUURA102': 233.142,
  'CUURA103': None},
 {'index': datetime.datetime(2009, 7, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 245.171,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 258.912,
  'CUURA102': None,
  'CUURA103': 232.928},
 {'index': datetime.datetime(2009, 8, 1, 0, 0),
  'CUURA318': 182.806,
  'CUURA319': 203.254,
  'CUURA320': 226.1,
  'CUURA421': 244.541,
  'CUURA422': 247.23,
  'CUURA423': 240.802,
  'CUURA101': 258.755,
  'CUURA102': 235.599,
  'CUURA103': None},
 {'index': datetime.datetime(2009, 9, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 244.113,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 256.97,
  'CUURA102': None,
  'CUURA103': 234.272},
 {'index': datetime.datetime(2009, 10, 1, 0, 0),
  'CUURA318': 182.73,
  'CUURA319': 198.274,
  'CUURA320': 226.109,
  'CUURA421': 244.281,
  'CUURA422': 246.089,
  'CUURA423': 237.941,
  'CUURA101': 256.273,
  'CUURA102': 233.017,
  'CUURA103': None},
 {'index': datetime.datetime(2009, 11, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 243.505,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 256.464,
  'CUURA102': None,
  'CUURA103': 233.604},
 {'index': datetime.datetime(2009, 12, 1, 0, 0),
  'CUURA318': 181.663,
  'CUURA319': 197.276,
  'CUURA320': 225.782,
  'CUURA421': 242.411,
  'CUURA422': 243.651,
  'CUURA423': 237.094,
  'CUURA101': 256.523,
  'CUURA102': 233.022,
  'CUURA103': None},
 {'index': datetime.datetime(2010, 1, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 242.594,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 257.261,
  'CUURA102': None,
  'CUURA103': 233.689},
 {'index': datetime.datetime(2010, 2, 1, 0, 0),
  'CUURA318': 182.79,
  'CUURA319': 198.794,
  'CUURA320': 223.555,
  'CUURA421': 242.913,
  'CUURA422': 244.436,
  'CUURA423': 235.762,
  'CUURA101': 257.077,
  'CUURA102': 234.104,
  'CUURA103': None},
 {'index': datetime.datetime(2010, 3, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 242.828,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 257.82,
  'CUURA102': None,
  'CUURA103': 233.943},
 {'index': datetime.datetime(2010, 4, 1, 0, 0),
  'CUURA318': 182.812,
  'CUURA319': 199.265,
  'CUURA320': 223.463,
  'CUURA421': 242.591,
  'CUURA422': 245.075,
  'CUURA423': 233.959,
  'CUURA101': 257.869,
  'CUURA102': 233.89,
  'CUURA103': None},
 {'index': datetime.datetime(2010, 5, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 243.458,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 258.555,
  'CUURA102': None,
  'CUURA103': 231.287},
 {'index': datetime.datetime(2010, 6, 1, 0, 0),
  'CUURA318': 184.344,
  'CUURA319': 203.053,
  'CUURA320': 223.926,
  'CUURA421': 243.07,
  'CUURA422': 244.696,
  'CUURA423': 233.588,
  'CUURA101': 259.514,
  'CUURA102': 235.898,
  'CUURA103': None},
 {'index': datetime.datetime(2010, 7, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 243.316,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 260.421,
  'CUURA102': None,
  'CUURA103': 230.024},
 {'index': datetime.datetime(2010, 8, 1, 0, 0),
  'CUURA318': 184.241,
  'CUURA319': 201.329,
  'CUURA320': 223.803,
  'CUURA421': 243.738,
  'CUURA422': 246.233,
  'CUURA423': 235.446,
  'CUURA101': 259.997,
  'CUURA102': 236.123,
  'CUURA103': None},
 {'index': datetime.datetime(2010, 9, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 243.549,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 258.871,
  'CUURA102': None,
  'CUURA103': 230.287},
 {'index': datetime.datetime(2010, 10, 1, 0, 0),
  'CUURA318': 182.964,
  'CUURA319': 197.501,
  'CUURA320': 224.114,
  'CUURA421': 244.133,
  'CUURA422': 246.471,
  'CUURA423': 234.29,
  'CUURA101': 258.468,
  'CUURA102': 234.572,
  'CUURA103': None},
 {'index': datetime.datetime(2010, 11, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 243.399,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 258.216,
  'CUURA102': None,
  'CUURA103': 232.111},
 {'index': datetime.datetime(2010, 12, 1, 0, 0),
  'CUURA318': 181.707,
  'CUURA319': 196.452,
  'CUURA320': 225.612,
  'CUURA421': 243.431,
  'CUURA422': 244.37,
  'CUURA423': 233.98,
  'CUURA101': 258.702,
  'CUURA102': 233.839,
  'CUURA103': None},
 {'index': datetime.datetime(2011, 1, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 244.399,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 259.081,
  'CUURA102': None,
  'CUURA103': 233.247},
 {'index': datetime.datetime(2011, 2, 1, 0, 0),
  'CUURA318': 181.941,
  'CUURA319': 197.982,
  'CUURA320': 225.85,
  'CUURA421': 244.419,
  'CUURA422': 245.465,
  'CUURA423': 236.0,
  'CUURA101': 259.198,
  'CUURA102': 235.545,
  'CUURA103': None},
 {'index': datetime.datetime(2011, 3, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 244.709,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 259.985,
  'CUURA102': None,
  'CUURA103': 235.395},
 {'index': datetime.datetime(2011, 4, 1, 0, 0),
  'CUURA318': 182.986,
  'CUURA319': 197.993,
  'CUURA320': 226.011,
  'CUURA421': 245.174,
  'CUURA422': 247.599,
  'CUURA423': 235.015,
  'CUURA101': 260.194,
  'CUURA102': 236.249,
  'CUURA103': None},
 {'index': datetime.datetime(2011, 5, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 245.582,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 261.585,
  'CUURA102': None,
  'CUURA103': 234.129},
 {'index': datetime.datetime(2011, 6, 1, 0, 0),
  'CUURA318': 183.795,
  'CUURA319': 203.024,
  'CUURA320': 225.134,
  'CUURA421': 244.79,
  'CUURA422': 249.137,
  'CUURA423': 236.482,
  'CUURA101': 263.038,
  'CUURA102': 238.751,
  'CUURA103': None},
 {'index': datetime.datetime(2011, 7, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 245.077,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 264.345,
  'CUURA102': None,
  'CUURA103': 235.145},
 {'index': datetime.datetime(2011, 8, 1, 0, 0),
  'CUURA318': 184.422,
  'CUURA319': 202.774,
  'CUURA320': 225.28,
  'CUURA421': 245.238,
  'CUURA422': 250.455,
  'CUURA423': 238.685,
  'CUURA101': 264.07,
  'CUURA102': 240.734,
  'CUURA103': None},
 {'index': datetime.datetime(2011, 9, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 245.076,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 263.675,
  'CUURA102': None,
  'CUURA103': 236.441},
 {'index': datetime.datetime(2011, 10, 1, 0, 0),
  'CUURA318': 184.45,
  'CUURA319': 198.172,
  'CUURA320': 225.798,
  'CUURA421': 245.737,
  'CUURA422': 251.655,
  'CUURA423': 240.729,
  'CUURA101': 262.854,
  'CUURA102': 238.917,
  'CUURA103': None},
 {'index': datetime.datetime(2011, 11, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 245.271,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 262.528,
  'CUURA102': None,
  'CUURA103': 238.072},
 {'index': datetime.datetime(2011, 12, 1, 0, 0),
  'CUURA318': 184.725,
  'CUURA319': 199.264,
  'CUURA320': 226.648,
  'CUURA421': 245.641,
  'CUURA422': 251.302,
  'CUURA423': 240.622,
  'CUURA101': 261.61,
  'CUURA102': 239.844,
  'CUURA103': None},
 {'index': datetime.datetime(2012, 1, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 246.531,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 262.677,
  'CUURA102': None,
  'CUURA103': 238.378},
 {'index': datetime.datetime(2012, 2, 1, 0, 0),
  'CUURA318': 185.781,
  'CUURA319': 200.751,
  'CUURA320': 228.016,
  'CUURA421': 246.787,
  'CUURA422': 253.851,
  'CUURA423': 241.923,
  'CUURA101': 262.504,
  'CUURA102': 240.49,
  'CUURA103': None},
 {'index': datetime.datetime(2012, 3, 1, 0, 0),
  'CUURA318': None,
  'CUURA319': None,
  'CUURA320': None,
  'CUURA421': 247.775,
  'CUURA422': None,
  'CUURA423': None,
  'CUURA101': 263.648,
  'CUURA102': None,
  'CUURA103': 239.011},
 {'index': datetime.datetime(2012, 4, 1, 0, 0),
  'CUURA318': 186.747,
  'CUURA319': 200.694,
  'CUURA320': 227.762,
  'CUURA421': 248.082,
  'CUURA422': 254.484,
  'CUURA423': 242.726,
  'CUURA101': 263.31,
  'CUURA102': 241.358,
  'CUURA103': None}]